autogen
streamlit
streamlit-option-menu
streamlit_lottie
groq
scikit-learn
langchain
langchain-groq
streamlit-authenticator
bcrypt
pyrebase4
oauth2client
pycryptodome
gcloud
google-cloud-storage
setuptools